#map {
    height: 400px;
    width: 100%;
}
.dropZone {
    background-image: url('../css/dragNdrop2.png');
    width: 100px;
    height: 100px;
    background-size: contain;
    border: 2px dashed #ccc;
    line-height: 30px;
    text-align: center;
    float: right;
}
.dropZone.dragover {
    border-color:#000;
    color:#000;
}
